# ---------- Authentik / Postgres ----------
POSTGRES_DB=db-name
POSTGRES_USER=user-name
POSTGRES_PASSWORD=change-me-postgres-password
AUTHENTIK_SECRET_KEY=change-me-authentik-secret-long-random

# ---------- Backend / Authentik OIDC ----------
CLIENT_ID=change-me-client-id
CLIENT_SECRET=change-me-client-secret

# ---------- Backend / SQL Server ----------
ASPNETCORE_ENVIRONMENT=Development
MSSQL_SA_PASSWORD=change-me-sqlserver-sa-password-strong!

# ---------- RabbitMQ ----------
RABBITMQ_HOST=raid-rabbit
RABBITMQ_VHOST=imperial
RABBITMQ_USERNAME=imperial-website
RABBITMQ_QUEUE_RAIDS_COMPLETED=raids.completed.q
