# ---------- Authentik / Postgres ----------
POSTGRES_DB=db-name
POSTGRES_USER=user-name
POSTGRES_PASSWORD=change-me-postgres-password
AUTHENTIK_POSTGRESQL__HOST=postgresql
AUTHENTIK_SECRET_KEY=change-me-authentik-secret

# ---------- SQL Server ----------
MSSQL_SA_PASSWORD=ChangeMeStrongPassword123!
ASPNETCORE_ENVIRONMENT=Development
CONNECTIONSTRINGS__DEFAULTCONNECTION=Server=db,1433;Database=ImperialDb_New;User Id=sa;Password=ChangeMeStrongPassword123!;Encrypt=False;TrustServerCertificate=True

# ---------- Authentik OAuth ----------
CLIENT_ID=change-me-client-id
CLIENT_SECRET=change-me-client-secret

# ---------- RabbitMQ ----------
RABBITMQ_HOST=raid-rabbit
RABBITMQ_VHOST=imperial
RABBITMQ_USERNAME=imperial-website
RABBITMQ_QUEUE_RAIDS_COMPLETED=raids.completed.q
