# ---------- Authentik / Postgres ----------
POSTGRES_DB=your-db
POSTGRES_USER=your-username
POSTGRES_PASSWORD=your-strong-password
AUTHENTIK_SECRET_KEY=6qh+s3chrsrX5JoLfEAFUbTZGXLI8XnVUwouFuzXAVl8VhK6TVGpBBu4Kdp9mEz1H18=

# ---------- Backend / Authentik OIDC ----------
CLIENT_ID=your-client-id
CLIENT_SECRET=your-long-client-secret

# ---------- Backend / SQL Server ----------
ASPNETCORE_ENVIRONMENT=Production

# This will be the root/sa password for your SQL Server instance
MSSQL_SA_PASSWORD=your-strong-password!

# ---------- RabbitMQ ----------
RABBITMQ_HOST=raid-rabbit
RABBITMQ_VHOST=imperial
RABBITMQ_USERNAME=imperial-website
RABBITMQ_QUEUE_RAIDS_COMPLETED=raids.completed.q

# ---------- URLs (using subdomains on port 80) ----------
BACKEND_URL=https://your-domain.com
FRONTEND_URL=https://your-domain.com
AUTHENTIK_URL=https://auth.your-domain.com
AUTHENTIK_ISSUER_PATH=https://auth.your-domain.com/application/o/imperial-web/
AUTHENTIK_INTERNAL_URL=https://auth.your-domain.com
BACKEND_INTERNAL_URL=https://your-domain.com



