# ---------- Authentik / Postgres ----------
POSTGRES_DB=your-db
POSTGRES_USER=your-username
POSTGRES_PASSWORD=your-strong-password
AUTHENTIK_SECRET_KEY=yout-long-secret-key

# ---------- Backend / Authentik OIDC ----------
CLIENT_ID=your-client-id
CLIENT_SECRET=your-long-client-secret

# ---------- Backend / SQL Server ----------
ASPNETCORE_ENVIRONMENT=Development

# This will be the root/sa password for your SQL Server instance
MSSQL_SA_PASSWORD=your-strong-password!

# ---------- RabbitMQ ----------
RABBITMQ_HOST=raid-rabbit
RABBITMQ_VHOST=imperial
RABBITMQ_USERNAME=imperial-website
RABBITMQ_QUEUE_RAIDS_COMPLETED=raids.completed.q

# ---------- URLs (using subdomains on port 80) ----------
BACKEND_URL=http://localhost
FRONTEND_URL=http://localhost
AUTHENTIK_URL=http://auth.localhost
AUTHENTIK_ISSUER_PATH=http://auth.localhost/application/o/imperial-web/
AUTHENTIK_INTERNAL_URL=http://localhost-authentik-server-1:9000
BACKEND_INTERNAL_URL=http://localhost_backend:5032


