# Node/React/Frontend
node_modules/
dist/
build/
pgdata/
.env
.env.dev
*.log
*.tsbuildinfo
.cache/
.vscode/
.DS_Store
*.txt
!*.example.txt


# .NET/Backend
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates
*.dbmdl
*.pdb
*.mdb
*.log
*.vs/

# OS/Editor
Thumbs.db
*.swp
*.tmp
.idea/
*.iml
*.bak

# pnpm
.pnpm-store/

setup-login.sql
*.bacpac
